@import "tailwindcss";

@theme {
  --font-rubik-80s: "VT323", monospace;;
}

*{
  box-sizing: border-box;
}

body{
  background: #000;
}

.sci-fi-box {
  position: relative;
  padding: 2rem;
  color: #d4ff00; /* neon green text optional */
  background: #000;
  width: 100%;
  height: 300px; /* adjust as needed */
  box-sizing: border-box;
}

/* Border layer */
.sci-fi-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid #b6ff19; /* neon border */
  clip-path: polygon(
    25px 0, calc(100% - 25px) 0,
    100% 25px, 100% calc(100% - 25px),
    calc(100% - 25px) 100%, 25px 100%,
    0 calc(100% - 25px), 0 25px
  );
  pointer-events: none;
}

.sci-fi-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.sci-fi-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  padding: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}